@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');

.theme{
    --primary : #000000;
    --secondary : #f5ebe0;
    --accent: #adb5bd;
    --black: #000000;
    --white: #ffffff;
}

body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.ig-bg{
    background-color: var(--primary);
}

.ig-bg:hover{
    background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
    color: black;
    transition: all;
    animation-duration: 2000ms;
}

/* body::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;
} */